<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Real Estate App</h5>
          <p class="grey-text text-lighten-4">Find the perfect home at the perfect price<</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/property">Properties</a></li>
            <li><a class="grey-text text-lighten-3" href="/user">Realtors</a></li>
            <li><a href="/user/<%= user ? 'dashboard' : 'login'%>"><%=user ? 'Dashboard' : 'Login'%></a></li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Steven Winter
      </div>
    </div>
  </footer>