<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/property" class="brand-logo"><i class="material-icons">home</i></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/property">Property</a></li>
        <li><a href="/property/new">New</a></li>
        <li><a href="collapsible.html">Location</a></li>
        <li><a href="/user">Users</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/property">Property</a></li>
    <li><a href="/property/new">New</a></li>
    <li><a href="collapsible.html">Location</a></li>
    <li><a href="/user">Users</a></li>
  </ul>
</header>
