<header>
  <nav>
    <div class="nav-wrapper">
      
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/property">Properties</a></li>
        <li><a href="/user">Realtors</a></li>
        <li><a href="/user/login">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/property">Properties</a></li>
    <li><a href="/user">Realtors</a></li>
    <li><a href="/user/login">Login</a></li>
  </ul>
</header>
