<main>
 <% if(errors != undefined) { %>
    <% for (let i=0; i<errors.length; i++) { %>
      <% console.log(errors[i]) %>
      <p class='flash-message red accent-3'><%= errors[i] %></p>
    <% } %>
  <% } %>
  <div class="row form-flex">
  <div class="col s12 m6">
<div class="card white">
  <div class="card-content">
<span class="card-title">Login</span>
  <form action="/user/login" method='post' id='login-form'>
    <div class="row">
    <div class="input-field col s12 ">
      <label for="email">Email:</label>
      <input type="text" name='email' id='email' placeholder='Enter your email' required class='validate'>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <label for="password">Password:</label>
      <input type="password" name='password' id='password' placeholder="Enter your passsword" required class='validate'>
    </div>
  </div>
  <div class="row login-links">
    <div class="modal-footer login-footer col s8 offset-s2">
      <a class="waves-effect waves-light btn green accent-3" id='login-btn'>Login</a>
      <a href="/user/password/reset" class='blue-text text-darken-2'>Forgot password?</a>
      <p class='grey-text darken-3'>Not registered yet? <a href="/user/register" class='blue-text text-darken-2'>Create an account</a></p>
    </div>
  </div>
  </form>
  </div>
</div>
</div>
</div>
</main>