<main>

  <form action="/user/login" method='post'>
    <div>
      <h1>Login</h1>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name='email' id='email' placeholder='Enter your email' required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name='password' id='password' placeholder="Enter your passsword" required>
    </div>
    <div>
      <input type="submit" value='Login'>
    </div>
  </form>




        
</main>