<main>
    <div class='index-bg show_bg_2'>
        <h1>Real Estate Finder</h1>
    </div>

    <% console.log(`INSIDE NEW ROUTE ${userId}`) %>

        <h2 class='grey-text darken-4'>Create New Listing:</h2>
        <!-- enctype="multipart/form-data" -->
        <form action="/property/" method="POST" id='new-form' enctype="multipart/form-data">

            <div class="row">
                <div class="input-field col s12">
                    <input id="seller" type="hidden" name='seller' class="validate" value='<%=userId%>'>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="price" type="number" name='price' class="validate">
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address" type="text" name='address' class="validate">
                    <label for="address">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="city" type="text" name='city' class="validate">
                    <label for="city">City</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="state" type="text" name='state' class="validate">
                    <label for="state">State</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="zip" type="number" name='zip' class="validate">
                    <label for="zip">Zip Code</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="bedrooms" type="number" name='bedrooms' class="validate">
                    <label for="bedrooms">Number of Bedrooms</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="baths" type="number" name='baths' class="validate">
                    <label for="baths">Number of Bathrooms</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="imgURL" type="text" name='imgURL' class="validate">
                    <label name="imgURL">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="img" name='img' class="validate" type="file">
                    <label name="img">Upload an Image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" name='description' class="validate">
                    <label name="description">Enter a brief description</label>
                </div>
            </div>
        </form>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn green accent-3" id='create'>Submit</a>
    </div>
</main>