<main>
    <div class='index-bg show_bg_2'>
        <h1>Real Estate Finder</h1>
    </div>
                

        <h2 class='grey-text darken-4'>Create New Listing:</h2>

        <form action="/user" method="POST" id='new-user-form'>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name='email' class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name='password' class="validate">
                    <label password="price">Password</label>
                </div>
            </div>
        </form>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn green accent-3" id='create-user'>Submit</a>
    </div>
</main>