<main>

  <div class="row form-flex">
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Create account</span>
          <form action="/user/register" method="POST" id='new-user-form'>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name='email' class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name='password' class="validate">
                    <label password="price">Password</label>
                </div>
            </div>
        </form>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn green accent-3" id='create-user'>Create</a>
    </div>
        </div>
      </div>
    </div>
  </div>

</main>