<form method="POST" action="/property/upload" enctype="multipart/form-data">
    <div>
        <label>Upload profile picture</label>
        <input type="file" name="image" required/>
    </div>
    <div>
        <input type="submit" value="Image" />
    </div>
</form>