<% users.forEach(user => { %>
    <h2><%=user.name%></h2>
    <h3><%= user.email %></h3>
    <p>User ID: <%=user._id%></p>
    <a href="/user/<%=user._id%>">check out listings</a>
  <% console.log(user) %>
<%}) %>