body {
    background-color: whitesmoke;
}

h1 {
    text-shadow: 2px 2px #000;
    font-size: 5rem;
}

h3 {
    margin-top: 0;
}

.card-title {
    font-size: 3rem!important;
    margin-bottom: 1rem!important;
}

.card-content {
    margin: 25px 0;
}

.card-content p {
    padding-top: 15px;
}

/* #img-container {
    background-image: url('https://images.unsplash.com/photo-1552505557-c085030eea99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
    width: 100%;
    height: 400px;
    background-size: cover;
}

#img-gradient {
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('https://images.unsplash.com/photo-1552505557-c085030eea99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
    width: 100%;
    height: 400px;
    background-size: cover;
} */

.show_bg_2 {
    background-image:
    /* linear-gradient(to top, rgba(41, 128, 185, 0.52), rgba(109, 213, 250, 0.73)), */
    url('https://images.unsplash.com/photo-1568634500241-7fd96820b224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
    width: 100%;
    height: 80vh;
    background-size: cover;
    color: white;
    padding: 20px;
    background-image: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: black;
}

i {
    font-size: 50px!important;
}

.search {
    background-color: rgba(0,0,0,.4);
    border-radius: 15px;
}

input[type=search]:not(.browser-default) {
    border-bottom: none;
}

.stock-card {
    width: 40%;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.property-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.property-content img {
    width: 100%;
}

.stock-collapse {
    width: 250px;
}

.collapsible {
    border: none;
    box-shadow: none;
}


.collapsible-header {
    border: none;
    justify-content: center;
    align-items: center;
}

.collapsible-body {
    border-bottom: none;
    background-color: rgba(255,255,255,0.7);
}

.property-address {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    margin-top: 15px;
}

form {
    color: white;
}

.form-button input{
    width: 150px;
    color: white;
    font-size: 15px!important;
}

.index-main {
    height: 75vh;
    /* background: #0f0c29; 
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */
background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.index-home {
    width: 400px;
    position: absolute;
    bottom: 80px;
    right: 25px;
    border-radius: 10px;
    border-top-left-radius: 150px;
}

.index-main nav {
    background-color: transparent;
    box-shadow: none;
    letter-spacing: 2px;
}

.index-main nav #nav-mobile {
    margin-left: 10%;
}

.index-main h1 {
    width: 55%;
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.index-h1-img-container {
    display: flex;
    width: 100vw;
}

.index-main h2 {
    color: white;
    font-size: 2rem;
    width: 55%;
    margin-left: 10%;
    font-weight: 200;
    letter-spacing: 1px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-message {
    margin-top: 0;
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 1.75rem;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
}